/* GLOBAL SETTINGS
   ----------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section,
input, textarea, label {
	display: block;
}

body {
	line-height: 1;
	font-family: 'Londrina Solid', cursive;
	color: #000;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 100%;
	height: auto;
}

h1, h2 {
	font-family: 'Londrina Shadow', cursive;
}

h1 {
	font-size: 4em;
	margin: 10px 0px;
}

h2 {
	font-size: 3em;
	margin: 5px 0px;
}

h3 {
	font-size: 2em;
}

p {
	margin: 1em 0;
}

.fa {
	color: #000;
	padding: 8px 2px 5px;
}

.section-divider {
	color: #000;
	margin: 20px 0;
}

.spacer {
	clear: both;
}

a {
	text-decoration: none;
}


/* FORM STYLES
   ----------------------------- */

input {
	width: 100%;
	min-height: 30px;
	border: 1px solid #000;
	padding: 0 5px;
	box-sizing: border-box;
}

textarea {
	width: 100%;
	min-height: 150px;
	border: 1px solid #000;
	padding: 5px;
	box-sizing: border-box;
}

input:focus:valid,
textarea:focus:valid {
	border: 2px solid green;
}

input:focus,
textarea:focus {
	outline: none;
}

/* CONTAINER SIZES
   ----------------------------- */

.container {
	width: 100%;
	margin: auto;
	padding: 0 15px;
	box-sizing: border-box;
}

@media only screen and (min-width: 768px){
	.container {
		width: 750px;
	}
}

@media only screen and (min-width: 992px){
	.container {
		width: 970px;
	}
}

@media only screen and (min-width: 1200px){
	.container {
		width: 1170px;
	}
}


/* NAVIGATION
   ----------------------------- */
nav {
	text-align: center;
	display: inline-block;
	padding: 5px 0;
	width: 100%;
	position: fixed;
	background: #000;
	color: #fff;
}

#nav-items li {
	display: inline-block;
	padding: 0 6px;
	font-size: 1.4em;
}

#nav-items li a,
#nav-items li a:visited {
	color: #fff;
}

@media only screen and (min-width: 768px){
	#nav-items li {
		padding: 0 9px;
	}
}

@media only screen and (min-width: 992px){
	#nav-items li {
		padding: 0 12px;
	}
}

@media only screen and (min-width: 1200px){
	#nav-items li {
		padding: 0 15px;
	}
}


/* HEADER
   ----------------------------- */

header {
	text-align: center;
	padding-top: 50px;
}

header img {
	border-radius: 100%;
	border: 1px solid #000;
}

header ul li {
	display: inline-block;
}


/* GALLERY SECTION
   ----------------------------- */

section#image-gallery {
	padding-top: 25px;	
}

#image-gallery {
	text-align: center;
	margin: 10px 0;
}

#image-gallery .container ul {
	margin: 10px 0;
}

#image-gallery .container ul li {
	font-size: 1.4em;
	display: inline-block;
	padding: 8px;
}

#image-gallery .container .img-thumbnail img {
	border: 1px solid #969595;
	display: inline-block;
	box-shadow: 0 0 13px -2px #969595;
	margin: 5px;
	box-sizing: border-box;
}

@media only screen and (min-width: 768px){
	#image-gallery .container ul li {
		padding: 10px;
	}

	#image-gallery .container .img-thumbnail img {
		width: 48%;
	}
}

@media only screen and (min-width: 992px){
	#image-gallery .container .img-thumbnail img {
		width: 32%;
	}
}

@media only screen and (min-width: 1200px){
	#image-gallery .container .img-thumbnail img {
		width: 23%;
	}
}
	
/* ABOUT SECTION
   ----------------------------- */

section#about {
	padding-top: 10px;
}

#about-pic {
	width: 100%;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

#about-pic img {
	border: 1px solid #000;
	/* max-height: 300px; */
}

#about-text {
	width: 100%;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

#about-text a {
	color: #000;
}

#about-text a:hover {
	text-decoration: underline;
}

@media only screen and (min-width: 768px){
	
	#about-pic {
		width: 40%;
	}
	
	#about-text {
		width: 60%;
		text-align: left;
	}
	
	#about-text, #about-pic {
    float: left;
	}
	
}


/* CONTACT US SECTION
   ----------------------------- */

section#contact-form {
	padding-top: 10px;	
}

.contact-form {
    padding: 1px 0px;
}

#contact-form h1,
#contact-form p {
	text-align: center;
}

#contact-form label {
	font-size: 1.3em;
	margin: 1em 0 .5em;
	box-sizing: border-box;
}

#contact-form p {
	font-size: 1.4em;
}

#contact-form button[class="submit"] {
	margin: 1.8em 0;
	width: 100%;
	background: #000;
	color: #fff;
	font: bold 1.1em 'Open Sans', sans-serif;
	border: 0;
	padding: 10px 0;
	box-sizing: border-box;
}


/* FOOTER SECTION
   ----------------------------- */

footer {
	text-align: center;
	font: normal .7em 'Open Sans',sans-serif;
}